*/__pycache__/
Classes/__pycache__/
2018*/
2019*/
2020*/

100nm_BoomCore.png
100nm_ccx.png
100nm_flipr.png
100nm_ldpc.png
100nm_ldpc_4x4.png
100nm_ldpc_4x4_serial.png
100nm_smallboom.png
100nm_spc.png
2019-08-30_17-52-00_msp430_random.zip
7nm_Jul2017/
ArmM0_100nm.png
BoomCore.def
BoomCore_net_wl.csv
Boom_net_wl.xlsx
CCX45nm_WLnets.xlsx
CCX45nm_WLnets_no-longest.xlsx
CCX45nm_nets-per-WL-decile-without-longest.png
CellCoord.out
ClustersArea.out
ClustersInstances.out
LDPC-4x4-serial_WLnets.xlsx
LDPC-4x4_WLnets.xlsx
LDPC/
LDPC_100/
LDPC_1000/
LDPC_WLnets.out
LDPC_WLnets.xlsx
LDPC_net_wl.csv
LDPC_nets-per-WL-decile.png
Nets.out
README.html
SPC45nm_WLnets.xlsx
SPC45nm_WLnets_no-longest.xlsx
SPC45nm_nets-per-WL-decile-without-longest.png
SmallBOOM_CDN45.zip
SmallBOOM_CDN45/
SmallBoom_WLnets.out
SmallBoom_WLnets_2017-07-13.xlsx
SmallBoom_WLnets_no-longest_2017-07-13.xlsx
SmallBoom_nets-per-WL-decile-without-longest.png
SmallBoom_nets-per-WL-decile.png
WL_histo.pdf
WL_stats.png
WL_stats.xlsx
WLnets.out
__pycache__/
armM0.zip
armM0/
bst.pyc
bst/
bst_correct.c
bst_debug.py
ccx_net_wl.csv
cluster_analysis_2020-06-15_17-06-55.log
clusters.out
def_parser.cprof
def_parser.log
def_parser.pyc
def_parser_2.py
diff_part.py
flipr.png
flipr_WLnets.out
flipr_WLnets.xlsx
flipr_WLnets_no-longest.xlsx
flipr_inter-cluster-WL_number-of-clusters.xlsx
flipr_net_wl.csv
flipr_net_wl.xlsx
flipr_nets-per-WL-decile-without-longest.png
flipr_nets-per-WL-decile.png
ldpc.png
ldpc_4x4.def.zip
ldpc_4x4/
ldpc_4x4_serial.def.zip
ldpc_4x4_serial.def/
ldpc_5.8.def
ldpc_inter-cluster-WL_number-of-clusters.xlsx
ldpc_net_wl.csv
lef.zip
lef/
msp430/
old/
out*
out (3rd copy).png
out (another copy).png
out (copy).png
out.png
parition_colored/
run.sh
smallboom.png
smallboom_inter-cluster-WL_number-of-clusters.xlsx
spc_net_wl.csv
test_dir/
tmp/

LDPC-2020*
*.png
spc_NoBuff/